@media (min-width: 768px) {
    .card .default-size-card {
        display: block !important;
    }

    .card .mobile-size-card {
        display: none !important;
    }

    .card-title{
        padding-left: 1rem;
        margin-bottom: 0.5 !important;
    }   

    #img-col .card-img{
        width: 10rem !important;
    }

    .card-title .card-title-div{
        font-size: 1.5rem !important;
    }

    .card-title button, a{
        margin-right: 0.5rem !important;
    }

    .card-title button, a{
        width: 1.5rem !important;
        height: 1.5rem !important;
    }

    .card-title button img, a img{
        width: 1.3rem !important;
        height: 1.3rem !important;
    }

    .card-text {
        font-size: 1.3rem !important;
    }    

    .progress{
        width: calc(100% - 1rem) !important; 
        position: relative !important; 
        left: 1rem !important;
        margin-right: 0 !important;
    }
}