.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;

  background-color: #F0C89B;

  padding: 1rem;
  height: 100vh;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#header img {
  width: 8rem;
  margin-right: 3rem;
}

#header h1 {
  color: white;
  font-size: 4rem;
  font-family: 'Roboto Slab', serif;
}

#main-part{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 1rem;

  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#main-part::-webkit-scrollbar {
  display: none;
}
