.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  width: 100%;
  position: relative;  
  padding: 1rem 2rem;
}

#header {
  width: 100%;
  margin-bottom: 1rem;
}

#header .col {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

#header .col img {
  height: 1.8rem;
  filter: drop-shadow(3px 3px 0px #F45990);
}

#header .col:first-child {
  justify-content: flex-start;
}

#header .col:last-child {
  justify-content: flex-end;
}

#header .col:last-child img {
  height: 1rem;
}

#header .col h1 {
  color: white;
  font-size: 1.2rem;
  font-family: 'Roboto Slab', serif;
  text-shadow: 3px 3px 0px #F45990 !important;
}

#main-part{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#main-part::-webkit-scrollbar {
  display: none;
}

@media only screen and (min-width: 768px) {
  .App { width: 90%; }
  #header .col img { height: 3rem; }
  #header .col h1 { font-size: 2rem; }
}

@media only screen and (min-width: 992px) {
  .App { width: 70%; }
} 
@media only screen and (min-width: 1200px) {
  .App { width: 55%; }
}